<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.rsookram.soon">

    <application
        android:name=".App"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Soon"
        android:allowBackup="true"
        android:fullBackupContent="true">

        <activity
            android:name=".TasksActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout|uiMode|colorMode|locale"
            android:exported="false" />

        <receiver
            android:name=".glance.SoonAppWidgetReceiver"
            android:exported="true">

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget_info" />
        </receiver>
    </application>
</manifest>
